<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/login_header :: header}">
</head>
    <body class="body1">
    <div class="body">
		<form  th:action="@{/login}" method="post" class="form-signin">
			<div class="text-center mb-4">
		        <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
      		</div>
			<div class="form-label-group">
				<input type="text" class="form-control" id="username" name="username" maxlength="50" placeholder="请输入账号" required autofocus>
				<label for="username">账号</label>
	 
			</div>
			<div class="form-label-group">
				<input type="password" class="form-control" id="password" name="password" maxlength="30" placeholder="请输入密码" required>
				<label for="password">密码</label>
			</div>
			<div class="checkbox md-3">
				 <input type="checkbox" name="remember-me"> 记住我
			</div>
			<div class="form-label-group">
				<button type="submit" class="btn btn-outline-primary btn-block">登录</button>
			</div>
 			<div class=" col-md-5" th:if="${loginError}">
				<p class="blog-label-error" th:text="${errorMsg}"></p>
			</div>
		</form>
    </div> 
	<div th:replace="~{fragments/footer :: footer}">...</div>
    </body>
</html>